header {
  font-family: "Righteous";
  height: 50vh;
  position: relative;
}

.headline {
  line-height: 10vh;
  font-size: 9vh;
  margin-top: 10vh;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  color: yellow;
  text-shadow: 5px 5px red, -5px -5px #000, 3px -3px lime;
}


.typeform-widget__container {
  margin: -15vh 15vw 0;
  height: 80vh;
}

